<h1>Create your own QUOTES </h1>



<div class="container">
    <h1>My Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
           
                <div *ngFor='let quote of quotes;let i = index'>
 
             <h6 id={{i}}> {{quote.nameQuote}}  written on {{quote.writtenDate|date}} </h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Quote Details</button>
        
<app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isWritten)='deleteQuote($event,i)'></app-quote-details>
        
      </div>
    </div>
    <div class="col-md-6">
            <app-quote-form></app-quote-form>
    </div>
</div>
    <p *ngIf='quotes.length > 5'>You have too many goals</p> 



<div>
        
        

 

