<div class="wholebody">
<h1 class="text-center"> QUOTES CREATION </h1>

<div class="container">
        <fieldset>
       
    <hr>
   
    <div class="row">
        <div class="col-md-6">
           
                <h2> FAVORITE QUOTES</h2><br>
               
                <div *ngFor='let quote of quotes;let i = index'>
 <div class="card">
             <h5  appHighlight  *ngIf="(highlight()==quote.upVote) && quote.upVote >0">  <b>"{{quote.nameQuote}} " </b><br></h5>
             <h5 *ngIf="(highlight()!== quote.upVote) || quote.upVote == 0"><b>"{{quote.nameQuote}} " </b><br></h5>
            <h5> It is submitted on <b>{{quote.writtenDate|date}}</b> </h5><br>
                <div>
                    <button type="button" (click)='increaseUpVote(i)'><img src="http://images.clipartpanda.com/like-clipart-noun-project-330.png" height="30" width="30" alt="vote">{{quote.upVote}}</button>
                <button type="button" (click)='increaseDownVote(i)'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTPG52HQTVi5P_dWu1VCHmoKsbiy48N_KHu_tAg39s2rqtWPKB" height="30" width="30" alt="vote">{{quote.downVote}}</button>
                    </div>
                
            <h3><button (click)='toggleDetails(i)' class="btn btn-link"> Quote Details</button></h3>
        
  <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isWritten)='deleteQuote($event,i)'></app-quote-details>
</div>
      </div>
    
    </div>
    <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
   </div>
  
    <p *ngIf='quotes.length > 5'>You have too many goals</p> 
</fieldset>
        
</div>
</div>

 
        

 

