
<div class="container-fluid">
 
    <h2 class="text-center">Create a new Quote</h2>

    <hr>
    <div class="jumbotron">
    <!-- ************************Submittinf form code ***********************************-->
    <form (ngSubmit)='submitQuote()' #quoteForm="ngForm">

        <div class="form-group">
  
            <label for="name"><b>Quote Author</b></label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.quoteAuthor" name="quoteAuthor" #quoteAuthor="ngModel" placeholder="Author name" required>
            <div [hidden]="quoteAuthor.valid || quoteAuthor.pristine" class="alert alert-danger">
              <p>Author is required</p>
            </div>
        </div>
        <div class="form-group">
  
                <label for="name"><b>Quote </b></label>
                <textarea  class="form-control" rows="4" id="name"[(ngModel)]="newQuote.nameQuote" name="nameQuote" #nameQuote="ngModel" placeholder="Quote" required></textarea>
                <div [hidden]="nameQuote.valid || nameQuote.pristine" class="alert alert-danger">
                  <p>Quote is required</p>
                </div>
            </div>

            
       
        <div class="form-group">
      
          <label for="name"><b>Writer name</b></label><br>
          <input type="text"  class="form-control" id="written" [(ngModel)]="newQuote. submitPerson" name=" submitPerson" #submitPerson="ngModel" placeholder="Person who writes the quote now" required>
          <div [hidden]=" submitPerson.valid ||submitPerson.pristine" class="alert alert-danger">
            <p>Your name is required</p>
          </div>
  </div>
  <div class="form-group">
      
      <label for="date"><b>Written Date</b></label><br>
      <input type="date" id="written" [(ngModel)]="newQuote. writtenDate" name=" writtenDate" #writtenDate="ngModel" placeholder="Written date" required>
      <div [hidden]=" writtenDate.valid || writtenDate.pristine" class="alert alert-danger">
        <p>Date is required</p>
      </div>
</div>
      
       
        <button type="submit" class="btn btn-dark">Submit Quote</button>
    </form>
  </div>
  </div>

